<div class="row" *ngIf="kitForm">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>{{ editmode ? "Kit" : "Novo kit" }}</mat-card-title>
            <form [formGroup]="kitForm" (ngSubmit)="onAddKit()">
                <div class="row">
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="nome" id="nome" placeholder="Nome do Kit" [required]="true"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="descricao" id="descricao" placeholder="Descrição" />
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                    <mat-card>
                        <mat-card-title>Lista de Equipamentos Adicionados ao Kit</mat-card-title>
                        <hr class="m-2">
                        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                              <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>
                            <!-- Position Column -->
                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef> Equipamento </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="tipoEquipamento">
                                <mat-header-cell *matHeaderCellDef> Tipo do Equipamento </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.tipoEquipamento.nome}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="descricao">
                                <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.descricao}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="requisitos">
                                <mat-header-cell *matHeaderCellDef> Requisitos </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.requisitos}}</mat-cell>
                            </ng-container>
                            <!-- actions -->
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mt-1 pull-right">
                        <button mat-raised-button class="m-1" color="primary" [disabled]="!kitForm.valid">
                            {{ editmode ? "Atualizar" : "Salvar" }}
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
