<mat-card>
    <mat-icon>show_chart</mat-icon>
    <mat-card-title class="mt-2">Status dos projetos por estado</mat-card-title>
    <p>Clique nas siglas para habilitar ou desabilitar a visualização dos estados</p>
    <hr class="mb-2">
    <div style="display: block;">
        <canvas id="myChart" baseChart height="100vh" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
             [legend]="lineChartLegend" [chartType]="lineChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
</mat-card>