<div class="row">
  <div class="col-lg-12">
      <button mat-raised-button color="primary" routerLink="novo">
          Novo Chamado
      </button>
  </div>
</div>

<ng-container *ngIf="isPolo; then polo; else naoPolo"></ng-container>
<ng-template #polo>
    <hr class="m-2">
    <div class="row">
        <div class="col-lg-12">
            <mat-card>
                <mat-card-title>Lista de Chamados Criados na Unidade</mat-card-title>
                <hr class="m-2">
                <mat-form-field>
                        <input matInput (keyup)="applyFilter('ORIGINADOS', $event.target.value)" placeholder="Filtro">
                </mat-form-field>
            
                <mat-table [dataSource]="dataSourceOriginados" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.status.nome}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="assunto">
                    <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.assunto}}</mat-cell>
                    </ng-container>
                    <!-- actions -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;">
                            <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                                <mat-icon aria-label="Details">description</mat-icon>
                            </button>
                            <button mat-icon-button color="accent">
                                <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card>
            <mat-paginator [length]="pagination['ORIGINADOS'].total" (page)="newPaginationEvent('ORIGINADOS', $event)"
            [pageSize]="pagination['ORIGINADOS'].itens_per_page" [pageSizeOptions]="pageSizeOptions"
            >
            </mat-paginator>
        </div>
    </div>
</ng-template>
<ng-template #naoPolo>
    <hr class="m-2">
    <h1>Lista de Chamados</h1>
    <hr class="m-2">
    <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Recebidos</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-card>
                                <hr class="m-2">
                                <mat-form-field>
                                        <input matInput (keyup)="applyFilter('RECEBIDOS', $event.target.value)" placeholder="Filtro">
                                </mat-form-field>
                            
                                <mat-table [dataSource]="dataSourceRecebidos" class="mat-elevation-z8">
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="id">
                                        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.status.nome}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="assunto">
                                    <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.assunto}}</mat-cell>
                                    </ng-container>
                                    <!-- actions -->
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                        <mat-cell *matCellDef="let row; let i=index;">
                                            <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                                                <mat-icon aria-label="Details">description</mat-icon>
                                            </button>
                                            <button mat-icon-button color="accent">
                                                <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                    
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                            </mat-card>
                            <mat-paginator [length]="pagination['RECEBIDOS'].total" (page)="newPaginationEvent('RECEBIDOS', $event)"
                            [pageSize]="pagination['RECEBIDOS'].itens_per_page" [pageSizeOptions]="pageSizeOptions"
                            >
                            </mat-paginator>
                        </div>
                    </div>
                </mat-expansion-panel>
                

                
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Originados</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-lg-12">
                        <mat-card>
                            <hr class="m-2">
                            <mat-form-field>
                                    <input matInput (keyup)="applyFilter('ORIGINADOS', $event.target.value)" placeholder="Filtro">
                            </mat-form-field>
                        
                            <mat-table [dataSource]="dataSourceOriginados" class="mat-elevation-z8">
                                <!-- Position Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.status.nome}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="assunto">
                                <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.assunto}}</mat-cell>
                                </ng-container>
                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;">
                                        <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                                            <mat-icon aria-label="Details">description</mat-icon>
                                        </button>
                                        <button mat-icon-button color="accent">
                                            <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </mat-card>
                        <mat-paginator [length]="pagination['ORIGINADOS'].total" (page)="newPaginationEvent('ORIGINADOS', $event)"
                        [pageSize]="pagination['ORIGINADOS'].itens_per_page" [pageSizeOptions]="pageSizeOptions"
                        >
                        </mat-paginator>
                    </div>
                </div>
            </mat-expansion-panel>

            <ng-container *ngIf="isAdmin">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Atribuídos ao MEC</strong>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-card>
                                    <hr class="m-2">
                                    <mat-form-field>
                                            <input matInput (keyup)="applyFilter('MEC', $event.target.value)" placeholder="Filtro">
                                    </mat-form-field>
                                
                                    <mat-table [dataSource]="dataSourceMec" class="mat-elevation-z8">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.status.nome}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="assunto">
                                        <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.assunto}}</mat-cell>
                                        </ng-container>
                                        <!-- actions -->
                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                            <mat-cell *matCellDef="let row; let i=index;">
                                                <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                                                    <mat-icon aria-label="Details">description</mat-icon>
                                                </button>
                                                <button mat-icon-button color="accent">
                                                    <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>
                        
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>
                                </mat-card>
                                <mat-paginator [length]="pagination['MEC'].total" (page)="newPaginationEvent('MEC', $event)"
                                [pageSize]="pagination['MEC'].itens_per_page" [pageSizeOptions]="pageSizeOptions"
                                >
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <strong>Atribuídos à TV Escola</strong>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-card>
                                        <hr class="m-2">
                                        <mat-form-field>
                                                <input matInput (keyup)="applyFilter('TV_ESCOLA', $event.target.value)" placeholder="Filtro">
                                        </mat-form-field>
                                    
                                        <mat-table [dataSource]="dataSourceTvEscola" class="mat-elevation-z8">
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="id">
                                                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="status">
                                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.status.nome}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="assunto">
                                            <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.assunto}}</mat-cell>
                                            </ng-container>
                                            <!-- actions -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;">
                                                    <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                                                        <mat-icon aria-label="Details">description</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="accent">
                                                        <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                    </mat-card>
                                    <mat-paginator [length]="pagination['TV_ESCOLA'].total" (page)="newPaginationEvent('TV_ESCOLA', $event)"
                                    [pageSize]="pagination['TV_ESCOLA'].itens_per_page" [pageSizeOptions]="pageSizeOptions"
                                    >
                                    </mat-paginator>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <strong>Criados pelos polos</strong>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-card>
                                        <hr class="m-2">
                                        <mat-form-field>
                                                <input matInput (keyup)="applyFilter('POLOS', $event.target.value)" placeholder="Filtro">
                                        </mat-form-field>
                                    
                                        <mat-table [dataSource]="dataSourcePolos" class="mat-elevation-z8">
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="id">
                                                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="status">
                                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                                <mat-cell *matCellDef="let row">{{row.status.nome}}</mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="assunto">
                                            <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.assunto}}</mat-cell>
                                            </ng-container>
                                            <!-- actions -->
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                                <mat-cell *matCellDef="let row; let i=index;">
                                                    <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                                                        <mat-icon aria-label="Details">description</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="accent">
                                                        <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>
                            
                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                    </mat-card>
                                    <mat-paginator [length]="pagination['POLOS'].total" (page)="newPaginationEvent('POLOS', $event)"
                                    [pageSize]="pagination['POLOS'].itens_per_page" [pageSizeOptions]="pageSizeOptions"
                                    >
                                    </mat-paginator>
                                </div>
                            </div>
                        </mat-expansion-panel>
            </ng-container>




    </mat-accordion>                
</ng-template>


