<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Novo Polo</mat-card-title>
            <form (ngSubmit)="onAddPolo(f)" #f="ngForm">
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field>
                            <input matInput ngModel [(ngModel)]="polo.nome" name="nome" id="nome" placeholder="Nome do Polo" required />
                            <!--<mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <mat-form-field>
                            <mat-select ngModel [(ngModel)]="polo.uf" name="uf" id="uf" placeholder="Escolha um estado" required>
                                <mat-option *ngFor="let estado of estados"  [value]="estado.uf">
                                    {{ estado.nome }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-7">
                        <mat-form-field>
                            <input matInput ngModel [(ngModel)]="polo.municipio" name="municipio" id="municipio" placeholder="Município" required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 pull-right">
                        <button mat-raised-button class="m-1" color="primary" [disabled]="!f.valid">
                            {{ editMode ? "Editar" : "Cadastrar" }}
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>