<div class="row"  *ngIf="confirmInvitationForm">
  <div class="col-lg-12">
      <mat-card>
          <mat-card-title>Confirmar dados cadastrais</mat-card-title>

          <form [formGroup]="confirmInvitationForm" (ngSubmit)="onConfirm()">
              <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput formControlName="name" id="name" placeholder="Nome do usuário" [required]="true" />
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput formControlName="email" id="email" placeholder="Email" />
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <mat-form-field>
                        <input matInput formControlName="cpf" id="cpf" placeholder="CPF" [required]="true" />
                    </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password" placeholder="Senha">
                          <mat-icon matSuffix (click)="showPassword()">
                              {{hidePassword ? 'visibility_off' : 'visibility'}}
                          </mat-icon>
                      </mat-form-field>
                  </div>
              </div>              
              <div class="row" *ngIf="usuario.tipo == 'gestor'">
                <div class="col-lg-6">
                    <mat-form-field>
                        <input matInput formControlName="funcao" id="funcao" placeholder="Função" />
                    </mat-form-field>
                </div>
              </div> 
              <div class="row">
                <div class="col-lg-6">
                    <mat-form-field>
                        <input matInput formControlName="telefone" id="telefone" placeholder="Telefone" />
                    </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 mt-1">
                      <button mat-raised-button color="primary" class="m-1" type="submit" [disabled]="!confirmInvitationForm.valid">
                          Salvar
                      </button>
                      <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                          Cancelar
                      </button>
                  </div>
              </div>
          </form>
      </mat-card>
  </div>
</div>