@import "~@angular/material/theming";
@include mat-core();

.table-container {
  height: 400px;
  overflow: auto;
  .mat-table {
        width: 100%;
        .mat-header-row{
            background-color: mat-color($mat-blue-gray,900);
            .mat-header-cell{
                color:mat-contrast($mat-blue-gray,900);
                &:first-child{
                    flex: 0 0 30%;
                }
            }
            .mat-cell{
                justify-content:center;
            }
        }
        .mat-row{
            .mat-cell{
                &:first-child{
                    flex: 0 0 30%;
                }
            }
        }
    }
}



.mat-form-field {
    width: 100%;
}
