.kit-radio-group {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

mat-radio-button {
    margin: 5px;
    width: 100%;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        padding:15px;
        border-radius: 5px;
    .radio-wrapper{
        margin-left: 10px;
    }
}


.kit-selected-value {
    margin: 15px 0;
}

.mat-card {
    width: 100%;
}