<h1>Detalhes do chamado</h1>
<mat-accordion class="example-headers-align" *ngIf="chamado">
    <mat-expansion-panel [expanded]="true" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Dados do Chamado</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-12">
                <mat-card>
                    <mat-card-title>
                        ID: {{chamado.id}}
                    </mat-card-title>
                    <form [formGroup]="chamadoForm" (ngSubmit)="onUpdateChamado()">
                        <div class="row">
                                <div class="col-lg-5 mt-1">
                                        <mat-form-field>
                                            <input matInput formControlName="unidade" id="unidade" placeholder="Unidade demandante"/>
                                        </mat-form-field>
                                </div>
                                <div class="col-lg-5 mt-1">
                                        <mat-form-field>
                                            <input matInput formControlName="criador" id="criador" placeholder="Criador do chamado"/>
                                        </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 mt-1">
                                <mat-form-field>
                                    <mat-select formControlName="unidade_responsavel_id" id="unidade_responsavel_id"
                                        placeholder="Unidade responsável" [required]="true">
                                        <mat-option *ngFor="let unidade of unidadesResponsaveis" [value]="unidade.id" (onSelectionChange)="$event.isUserInput? unidadeEvent($event): null">
                                            {{ unidade.nome }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-5 mt-1">
                                    <mat-form-field>
                                        <input matInput formControlName="us_resp" id="us_resp" placeholder="Usuário encarregado do chamado"/>
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mt-1">
                                <mat-form-field>
                                    <mat-select formControlName="status_id" id="status_id"
                                        placeholder="Status" [required]="true">
                                        <mat-option *ngFor="let st of status" [value]="st.id">
                                            {{ st.nome }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3 mt-1">
                                <mat-form-field>
                                    <mat-select formControlName="prioridade" id="prioridade"
                                        placeholder="Prioridade" [required]="true" >
                                        <mat-option *ngFor="let pr of prioridades" [value]="pr.id">
                                           ({{pr.id}}) {{ pr.text }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-1"></div>                          
                            <div class="col-lg-3 mt-1">
                                    <mat-form-field>
                                        <mat-select formControlName="tipo_id" id="tipo_id"
                                            placeholder="Tipo" [required]="true" >
                                            <mat-option *ngFor="let tp of tipos" [value]="tp.id">
                                                {{ tp.nome }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-lg-8 mt-1">
                                    <mat-form-field>
                                        <input matInput formControlName="assunto" id="assunto" placeholder="Assunto do chamado" [required]="true"/>
                                    </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-lg-8 mt-1">
                                    <mat-form-field>
                                        <textarea matInput formControlName="descricao" id="descricao" placeholder="Descrição detalhada do chamado"></textarea>
                                    </mat-form-field>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-10 mt-1 pull-right">
                                    <button mat-raised-button class="m-1" color="primary" [disabled]="!chamadoForm.dirty || !chamadoForm.valid">
                                        Salvar modificações
                                    </button>
                                </div>
                            </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let comentario of comentarios" [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Evento do chamado <i>({{getTipoComentario(comentario)}})</i></strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-title>
                ID: {{comentario.id}}
            </mat-card-title>
            <p><strong>Data da ocorrência: </strong>{{comentario.created_at | date : 'dd/MM/yyyy - HH:mm:ss'}}</p>
            <p><strong>Tipo do evento: </strong>{{getTipoComentario(comentario)}}</p>
            <p><strong>Mensagem: </strong>{{comentario.content}}</p>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-card *ngIf="comentarioForm">
    <mat-card-title>
        Novo comentário
    </mat-card-title>
    <form [formGroup]="comentarioForm" (ngSubmit)="onNewComentario()">
        <div class="row">
            <div class="col-lg-8 mt-1">
                <mat-form-field>
                    <textarea matInput formControlName="content" id="content" placeholder="Comentário:"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mt-1 pull-right">
                <button mat-raised-button class="m-1" color="primary" [disabled]="!comentarioForm.dirty || !comentarioForm.valid">
                    Adicionar comentário
                </button>
            </div>
        </div>
    </form>
</mat-card>
