<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Detalhes da Empresa</mat-card-title>
            <hr>
            <div>
                <p>
                    <strong>Nome: </strong>{{unidade.nome}}<br />
                    <strong>Email: </strong>{{unidade.email}}<br />
                    <strong>Url: </strong>{{unidade.url}}<br />
                    <strong>Telefone: </strong><span>{{unidade.telefone | mask: '(00) 0000-0000?0'}}</span><br />
                </p>
                <p>
                    <strong>Endereço: </strong>
                    {{unidade.localidade.logradouro}}
                    {{unidade.localidade.numero}}
                    {{unidade.localidade.complemento}},
                    {{unidade.localidade.bairro}} -
                    {{unidade.localidade.cep}} -
                    {{unidade.localidade.municipio.nome}} /
                    {{unidade.localidade.estado.sigla}}
                </p>
                <p>
                    <button mat-raised-button type="button" class="mt-1" color="warn" (click)="onCancel()">
                        Voltar
                    </button>
                </p>

            </div>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Lista de Usuários da Empresa</mat-card-title>
            <hr class="m-2">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="capitalize">{{row.tipo}}</mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="accent" (click)="onEdit(row.id)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent">
                            <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-card>
    </div>
</div>