<ng-template [ngIf]="exibeTvEscola">
<div class="row">
    <div class="col-lg-12">
        <button mat-raised-button color="primary" routerLink="novo">
            Novo Projeto
        </button>
    </div>
</div>
</ng-template>
<hr class="m-2">
<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Lista de Projetos</mat-card-title>
            <hr class="m-2">
            <mat-chip-list>
                <mat-chip *ngIf="isAdmin" color="default" class="chip-legenda">
                    <mat-icon>input</mat-icon>
                    Planejamento
                </mat-chip>
                <mat-chip color="default" class="chip-legenda"><mat-icon>flight_takeoff</mat-icon>Enviado</mat-chip>
                <mat-chip color="default" class="chip-legenda"><mat-icon>flight_land</mat-icon>Entregue</mat-chip>
                <mat-chip color="default" class="chip-legenda"><mat-icon>tv</mat-icon>Instalado</mat-chip>
                <mat-chip color="default" class="chip-legenda"><mat-icon>cast</mat-icon>Ativado</mat-chip>
                <mat-chip color="default" class="chip-legenda"><mat-icon>tv_off</mat-icon>Cancelado</mat-chip>
            </mat-chip-list>
            <hr class="m-2">
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="numero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Projeto </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="hide-on-mobile">{{row.numero}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Unidade </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="title-on-mobile" >{{row.unidade.nome}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="previsao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Previsão </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.data_fim_previsto | date:'dd/MM/yyyy'}}
                        <mat-icon class="icon-error" matTooltip="{{row.messages.erros}}" *ngIf="row.erros" matTooltipPosition="after">error</mat-icon>
                        <mat-icon class="icon-warning" matTooltip="{{row.messages.avisos}}" *ngIf="!row.erros && row.avisos" matTooltipPosition="after">warning</mat-icon>
                        <mat-icon class="icon-info" matTooltip="{{row.messages.infos}}" *ngIf="!row.erros && !row.avisos && row.infos" matTooltipPosition="after">info</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngSwitch]="row.status">
                        <mat-icon *ngSwitchCase="'PLANEJAMENTO'" matTooltip="{{row.status}}" matTooltipPosition="after">input</mat-icon>
                        <mat-icon *ngSwitchCase="'ENVIADO'" matTooltip="{{row.status}}" matTooltipPosition="after">flight_takeoff</mat-icon>
                        <mat-icon *ngSwitchCase="'ENTREGUE'" matTooltip="{{row.status}}" matTooltipPosition="after">flight_land</mat-icon>
                        <mat-icon *ngSwitchCase="'INSTALADO'" matTooltip="{{row.status}}" matTooltipPosition="after">tv</mat-icon>
                        <mat-icon *ngSwitchCase="'ATIVADO'" matTooltip="{{row.status}}" matTooltipPosition="after">cast</mat-icon>
                        <mat-icon *ngSwitchCase="'CANCELADO'" matTooltip="{{row.status}}" matTooltipPosition="after">tv_off</mat-icon>
                        <mat-icon *ngSwitchDefault matTooltip="{{row.status}}" matTooltipPosition="after">input</mat-icon>
                    </mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                            <mat-icon aria-label="Details">description</mat-icon>
                        </button>
                        <button *ngIf="canEdit(row)" mat-icon-button color="accent" (click)="onEdit(row.id)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button *ngIf="canCancelProject(row)" mat-icon-button color="accent">
                            <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'hasError' : row.erros}"></mat-row>
            </mat-table>
        </mat-card>
        <mat-paginator [length]="pagination.total" (page)="newPaginationEvent($event)"
        [pageSize]="pagination.itens_per_page" [pageSizeOptions]="pageSizeOptions"
        >
      </mat-paginator>
    </div>
</div>