<ng-template [ngIf]="exibeTvEscola">
<div class="row">
    <div class="col-lg-12">
        <button mat-raised-button color="primary" routerLink="novo">
            Novo Projeto
        </button>
    </div>
</div>
</ng-template>
<hr class="m-2">
<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Lista de Projetos</mat-card-title>
            <hr class="m-2">
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="numero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Projeto </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.numero}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Unidade </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.unidade.nome}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="previsao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Previsão </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.data_fim_previsto | date:'dd/MM/yyyy'}}
                        <mat-icon class="icon-alert" matTooltip="Mensagem sobre o alerta" *ngIf="row.status =='PLANEJAMENTO'" matTooltipPosition="after">notification_important</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="accent" (click)="onDetails(row.id)">
                            <mat-icon aria-label="Details">description</mat-icon>
                        </button>
                        <button *ngIf="canEdit(row)" mat-icon-button color="accent" (click)="onEdit(row.id)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button *ngIf="canCancelProject(row)" mat-icon-button color="accent">
                            <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'hasAlert' : row.status =='PLANEJAMENTO'}"></mat-row>
            </mat-table>
            <mat-paginator [length]="pagination.total" [hidePageSize]="true" (page)="newPaginationEvent($event)"
              [pageSize]="10"
              >
            </mat-paginator>

        </mat-card>
    </div>
</div>