@import "~@angular/material/theming";
@include mat-core();

.mat-column-numero{
    flex: 0 0 20%;
}

.mat-column-actions{
    flex: 0 0 20%;
    justify-content:center;
}

.mat-column-status{
    flex: 0 0 15%;
    justify-content:center;
}

.hasAlert{
    background-color: mat-color($mat-red,50);
    .mat-cell{
        color:mat-contrast($mat-red,50);
    }
}

.icon-alert{
    color:mat-color($mat-red,500);
}