<div class="row" *ngIf="tipoEquipamentoForm">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>{{ editmode ? "Tipo de Equipamento" : "Novo Tipo de Equipamento" }}</mat-card-title>
            <form [formGroup]="tipoEquipamentoForm" (ngSubmit)="onAddTipoEquipamento()">
                <div class="row">
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="nome" id="nome" placeholder="Nome do Tipo de Equipamento" [required]="true"/>
                            <mat-error *ngIf="!tipoEquipamentoForm.get('nome').valid">{{tipoEquipamentoForm.get('nome').errors['serverside']}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="descricao" id="descricao" placeholder="Descrição" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mt-1 pull-right">
                        <button mat-raised-button class="m-1" color="primary" [disabled]="!tipoEquipamentoForm.valid">
                            {{ editmode ? "Atualizar" : "Salvar" }}
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
