table {
    width: 100%;
    .mat-column-actions{
        width: 22%;
        text-align:center;
    }
}
.capitalize {
   text-transform: capitalize;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
} 