<div class="row">
    <div class="col-lg-12">
        <button mat-raised-button color="primary" routerLink="novo">
            Novo Usuário
        </button>
    </div>
</div>
<hr class="m-2">
<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Lista de Usuários da Unidade</mat-card-title>
            <hr class="m-2">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
            </mat-form-field>
            <mat-table [dataSource]="dataSourceUnidade" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="capitalize">{{row.tipo}}</mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="accent" (click)="onEdit(row.id)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent">
                            <mat-icon aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsUnidade"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsUnidade;"></mat-row>
            </mat-table>
        </mat-card>
    </div>
</div>

