<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <div class="sidebar-itens">
            <div class="sidemar-menu">
                <img class="img-logo" src="assets/images/logo-cnme.png" srcset="assets/images/logo-cnme@2x.png 2x" alt="CNME">
                <mat-nav-list class="mat-custom-menu-item" *ngIf="isUsuarioAutenticado">
                    <button mat-menu-item routerLink="dashboard" *ngIf="exibeDashboard">DashBoard</button>
                    <button mat-menu-item routerLink="projetos" *ngIf="exibeProjetos">Projetos</button>
                    <button mat-menu-item routerLink="polos" *ngIf="exibePolos">Polos</button>
                    <button mat-menu-item routerLink="tvescola" *ngIf="exibeTvEscola">TV Escola</button>
                    <button mat-menu-item routerLink="mec" *ngIf="exibeMec">MEC</button>
                    <button mat-menu-item routerLink="empresas" *ngIf="exibeEmpresas">Empresas</button>
                    <button mat-menu-item routerLink="equipamentos" *ngIf="exibeEquipamentos">Equipamentos</button>
                    <button mat-menu-item routerLink="kits" *ngIf="exibeKits">Kits</button>
                    <button mat-menu-item routerLink="tipoEquipamentos" *ngIf="exibeTipoEquipamentos">Tipos de Equipamentos</button>
                    <!-- <a mat-list-item routerLink="usuarios" >Usuários</a> -->
                    <!--
                    menu com submenu
                    <a mat-list-item routerLink="polos" (click)="showSubmenu = !showSubmenu">Parent Menu</a>
                    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
                        <a mat-list-item href="javascript:;">Novo Polo</a>
                    </div>
                    -->
                </mat-nav-list>
            </div>
            <div class="sidebar-footer">
                <small>Desenvolvido por:</small>
                <img src="assets/images/logo-nees-branca.png" srcset="assets/images/logo-nees-branca@2x.png 2x" alt="NESS">
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span></span> <span class="nav-spacer"></span>
            <!--<a class="topnav-icon" *ngIf="isUsuarioAutenticado" mat-list-item routerLink="{{unidade}}">
                <mat-icon>account_balance</mat-icon>
            </a>
            <a class="topnav-icon" *ngIf="isUsuarioAutenticado" mat-list-item routerLink="{{homepage}}">
                <mat-icon>account_box</mat-icon>
            </a>
            <a class="topnav-icon" *ngIf="isUsuarioAutenticado" mat-list-item routerLink="auth/logout">
                <mat-icon>exit_to_app</mat-icon>
            </a>-->

            <ng-template [ngIf]="isUsuarioAutenticado">
                <button mat-flat-button routerLink="chamados" class="btn-chamados">
                    Chamados
                    <mat-icon>contact_support</mat-icon>
                </button>
                &nbsp;
                <span class="mat-body d-none d-sm-block">{{emailUser}}</span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="{{homepage}}">
                        <mat-icon>account_box</mat-icon>
                        <span>Dados do Perfil</span>
                    </button>
                    <button mat-menu-item routerLink="{{unidade}}">
                        <mat-icon>account_balance</mat-icon>
                        <span>Dados da unidade</span>
                    </button>
                    <button mat-menu-item routerLink="auth/logout">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sair</span>
                    </button>
                </mat-menu>
            </ng-template>
        </mat-toolbar>
        <div class="container">
            <hr class="m-3">
            <ng-content> </ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-is-online></app-is-online>