<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <img class="img-logo" src="assets/images/logo-cnme.png" srcset="assets/images/logo-cnme@2x.png 2x" alt="CNME">
        <mat-nav-list *ngIf="isUsuarioAutenticado">
            <a mat-list-item routerLink="" *ngIf="isUsuarioPrivilegiado">DashBoard</a>
            <a mat-list-item routerLink="projetos">Projetos</a>
            <a mat-list-item routerLink="polos" *ngIf="isUsuarioPrivilegiado">Polos</a>
            <a mat-list-item routerLink="tvescola" *ngIf="isUsuarioPrivilegiado">TV Escola</a>
            <a mat-list-item routerLink="mec" *ngIf="isUsuarioPrivilegiado">MEC</a>
            <a mat-list-item routerLink="empresas" *ngIf="isUsuarioPrivilegiado">Empresas</a>
            <a mat-list-item routerLink="equipamentos" *ngIf="isUsuarioPrivilegiado">Equipamentos</a>
            <a mat-list-item routerLink="kits" *ngIf="isUsuarioPrivilegiado">Kits</a>
            <a mat-list-item routerLink="tipoEquipamentos" *ngIf="isUsuarioPrivilegiado">Tipos de Equipamentos</a>
            <a mat-list-item routerLink="usuarios" >Usuários</a>
            <!--
            menu com submenu
            <a mat-list-item routerLink="polos" (click)="showSubmenu = !showSubmenu">Parent Menu</a>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
                <a mat-list-item href="javascript:;">Novo Polo</a>
            </div>
            -->
        </mat-nav-list>



    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span></span> <span class="nav-spacer"></span>
            <!--<a class="topnav-icon" *ngIf="isUsuarioAutenticado" mat-list-item routerLink="{{unidade}}">
                <mat-icon>account_balance</mat-icon>
            </a>
            <a class="topnav-icon" *ngIf="isUsuarioAutenticado" mat-list-item routerLink="{{homepage}}">
                <mat-icon>account_box</mat-icon>
            </a>
            <a class="topnav-icon" *ngIf="isUsuarioAutenticado" mat-list-item routerLink="auth/logout">
                <mat-icon>exit_to_app</mat-icon>
            </a>-->
            <ng-template [ngIf]="isUsuarioAutenticado">
                <span class="mat-body">{{emailUser}}</span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="{{homepage}}">
                        <mat-icon>account_box</mat-icon>
                        <span>Dados do Perfil</span>
                    </button>
                    <button mat-menu-item routerLink="{{unidade}}">
                        <mat-icon>account_balance</mat-icon>
                        <span>Dados da unidade</span>
                    </button>
                    <button mat-menu-item routerLink="auth/logout">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sair</span>
                    </button>
                </mat-menu>
            </ng-template>
        </mat-toolbar>
        <div class="container">
            <hr class="m-3">
            <ng-content> </ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-is-online></app-is-online>