<div class="row" *ngIf="empresaForm">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>{{ editmode ? "Empresa" : "Nova empresa" }}</mat-card-title>
            <form [formGroup]="empresaForm" (ngSubmit)="onAddEmpresa()">
                <div class="row">
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="nome" id="nome" placeholder="Nome da Empresa" [required]="true" />
                            <mat-error *ngIf="!empresaForm.get('nome').valid">{{empresaForm.get('nome').errors['serverside']}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="codigo_inep" id="codigo_inep" placeholder="INEP"
                                #codigo_inep maxlength="8" />
                            <mat-hint align="end">{{codigo_inep.value.length}} / 8</mat-hint>

                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="diretor" id="diretor" placeholder="Diretor" />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="email" id="email" placeholder="Email do diretor"
                                [required]="true" />
                            <mat-error *ngIf="!empresaForm.get('email').valid">{{empresaForm.get('email').errors['serverside']}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput id="responsavel" placeholder="Responsável" />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput id="emailResponsavel" placeholder="Email do responsável" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="url" id="url" placeholder="Url" />
                            <mat-error *ngIf="!empresaForm.get('url').valid">{{empresaForm.get('url').errors['serverside']}}</mat-error>
                            <mat-error *ngIf="!empresaForm.hasError('pattern')">
                                Digite uma <strong>url</strong> válida exemplo: http://google.com
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="telefone" id="telefone" placeholder="Telefone" mask="(00) 0000-0000?0" />
                        </mat-form-field>
                    </div>
                </div>
                <div formGroupName="localidade">
                    <div class="row">
                        <div class="col-lg-4 mt-1">
                            <mat-form-field>
                                <input matInput formControlName="cep" id="cep" placeholder="Cep" [required]="true" mask="00000-000" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-8 mt-1">
                            <mat-form-field>
                                <input matInput formControlName="logradouro" id="logradouro" placeholder="Logradouro"
                                    [required]="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 mt-1">
                            <mat-form-field>
                                <input matInput formControlName="numero" id="numero" placeholder="Número" [required]="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 mt-1">
                            <mat-form-field>
                                <input matInput formControlName="complemento" id="complemento" placeholder="Complemento" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 mt-1">
                            <mat-form-field>
                                <input matInput formControlName="bairro" id="bairro" placeholder="Bairro" [required]="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 mt-1">
                            <mat-form-field>
                                <mat-select formControlName="estado_id" id="estado_id" (selectionChange)="onChange($event)"
                                    placeholder="Escolha um estado" [required]="true">
                                    <mat-option *ngFor="let estado of estados" [value]="estado.id">
                                        {{ estado.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 mt-1">
                            <mat-form-field>
                                <mat-select formControlName="municipio_id" id="municipio_id" placeholder="Escolha um município"
                                    [required]="true">
                                    <mat-option *ngFor="let municipio of municipios" [value]="municipio.id">
                                        {{ municipio.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mt-1 pull-right">
                        <button mat-raised-button class="m-1" color="primary" [disabled]="!empresaForm.valid">
                            {{ editmode ? "Atualizar" : "Salvar" }}
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>