
hr{
    border:0;
}


.kit-radio-button{
    .mat-radio-label{
        width: 100%;
        white-space: normal;
        .mat-radio-label-content{
            width: 100%;
        }
    }
}

.text-center{
    text-align: center;
}

.mat-row{
    border-left:solid 3px transparent;
    .mat-icon-button{
        width: 25px;

    }
}