<div class="row" *ngIf="projetoForm">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Novo projeto de implantação</mat-card-title>
            <form [formGroup]="projetoForm" (ngSubmit)="onAddProjeto()">
                <div class="row">
                    <div class="col-lg-6 mt-1">
                        <mat-form-field>
                            <mat-select formControlName="unidade_id" id="unidade_id" placeholder="Escolha uma unidade"
                                [required]="true">
                                <mat-option *ngFor="let unidade of unidades" [value]="unidade.id">
                                    {{ unidade.nome }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="numero" id="numero" placeholder="Número do projeto"
                                [required]="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-1">
                        <mat-form-field>
                            <textarea matInput formControlName="descricao" id="descricao" matTextareaAutosize
                                matAutosizeMinRows=1 matAutosizeMaxRows=5 placeholder="Descrição" [required]="true">
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mt-1">
                        <mat-form-field>
                            <input matInput formControlName="data_implantacao_prevista" id="data_implantacao_prevista"
                                [matDatepicker]="picker" placeholder="Data da implantação">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint>(Previsão)</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mt-1 pull-right">
                        <button mat-raised-button class="m-1" color="primary" [disabled]="!projetoForm.valid">
                            {{ editmode ? "Atualizar" : "Salvar" }}
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>