<h1>Detalhes do projeto</h1>
<mat-accordion class="example-headers-align" *ngIf="projeto">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Dados do Projeto</strong>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="step !== 0">Dados básicos do projeto</span>&nbsp;
                <mat-icon>description</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>Status do projeto: </strong>{{projeto.status}}<br />
                    <strong>Unidade: </strong>{{projeto.unidade.nome}} (Cod. INEP:
                    {{projeto.unidade.codigo_inep}})<br />
                    <strong>Número de projeto: </strong>{{projeto.numero}}<br />
                    <strong>Descrição: </strong>{{projeto.descricao}}<br />
                    <strong>Data Prevista para Início:
                    </strong>{{projeto.data_inicio_previsto | date : 'dd/MM/yyyy'}}<br />
                    <strong>Data Prevista de Fim: </strong>{{projeto.data_fim_previsto | date : 'dd/MM/yyyy'}}<br />
                </p>
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Equipamentos</strong>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="step !== 1">Equipamentos a serem enviados</span>&nbsp;
                <mat-icon>devices</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-12">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef> Equipamento </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.equipamento.nome}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="descricao">
                        <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.equipamento.descricao}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipo_equipamento">
                        <mat-header-cell *matHeaderCellDef> Categoria do Equipamento </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.equipamento.tipo_equipamento.nome}}</mat-cell>
                    </ng-container>
                    <!-- actions -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="etapaEnvio && etapaEnvio.tarefas && etapaEnvio.tarefas.length" [expanded]="step === 2"
        (opened)="setStep(2)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Entregas</strong>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="step !== 2">Entregas a serem realizadas</span>&nbsp;
                <mat-icon>send</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-12">
                <mat-card *ngFor="let tarefa of etapaEnvio.tarefas" class="mt-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <p><strong>Código de rastreio: </strong>{{tarefa.numero}}</p>
                            <p><strong>Empresa responsável: </strong>{{tarefa.unidade_responsavel.nome}}</p>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Previsão de início: </strong>{{tarefa.data_inicio_prevista | date:'dd/MM/yyyy'}}
                            </p>
                            <p><strong>Previsão de conclusão: </strong>{{tarefa.data_fim_prevista | date:'dd/MM/yyyy'}}
                            </p>
                        </div>
                    </div>
                    <p><strong>Equipamentos selecionados</strong></p>
                    <mat-chip-list>
                        <mat-chip color="primary" *ngFor='let equipamento_p of tarefa.equipamentos_projeto'>
                            {{equipamento_p.equipamento.nome}}
                        </mat-chip>
                    </mat-chip-list>
                    <hr class="mb-3">
                    <form (ngSubmit)="onSubmitRecebimento(fi, tarefa)" #fi="ngForm">

                        <div class="row">
                            <div class="col-lg-4">
                                <mat-form-field>
                                    <input matInput [min]="tarefa.data_inicio"
                                        [(ngModel)]="tarefa.data_fim" id="data_fim" name="data_fim"
                                        [matDatepicker]="pickerData" placeholder="Data do recebimento"
                                        [disabled]="tarefa.status!='ANDAMENTO'" required>
                                    <mat-datepicker-toggle matSuffix [for]="pickerData"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerData></mat-datepicker>
                                </mat-form-field>

                                <button mat-raised-button color="primary" type="submit"
                                    [disabled]="(tarefa.status!='ANDAMENTO') || !fi.valid ">
                                    {{tarefa.status == 'CONCLUIDA'?"Recebimento confirmado":"Confirmar recebimento"}}
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="equipDisponiveis && equipDisponiveis.length && equipDisponiveis.length > 0"
        [expanded]="step === 3" (opened)="setStep(3)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Equipamentos pendentes</strong>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="step !== 3">Lista de equipamentos que ainda não foram atribuídos a nenhuma
                    entrega</span>&nbsp;
                <mat-icon>build</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-12 mt-2">
                <p><strong>
                        Equipamentos aguardando envio: {{equipDisponiveis.length}}
                    </strong></p>
                <mat-chip-list>
                    <mat-chip color="primary" *ngFor='let equipamento of equipDisponiveis'>
                        {{equipamento.equipamento.nome}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Cronograma de Instalação</strong>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="step !== 4">Cronograma previsto para instalação</span>&nbsp;
                <mat-icon>build</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="etapaInstalacao; else seminstalacao">
            <div class="col-lg-6">
                <p><strong>Empresa responsável: </strong>{{etapaInstalacao.tarefas[0].unidade_responsavel.nome}}</p>
            </div>
            <div class="col-lg-6">
                <p><strong>Previsão de início:
                    </strong>{{etapaInstalacao.tarefas[0].data_inicio_prevista | date:'dd/MM/yyyy'}}</p>
                <p><strong>Previsão de conclusão:
                    </strong>{{etapaInstalacao.tarefas[0].data_fim_prevista | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="col-lg-12">
                <form (ngSubmit)="onSubmitInstalacao(fi, tarefa)" #fi="ngForm">
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-form-field>
                                <input matInput [(ngModel)]="etapaInstalacao.tarefas[0].data_fim" [min]="etapaInstalacao.tarefas[0].data_inicio" id="data_fim"
                                    name="data_fim" [matDatepicker]="pickerData" placeholder="Data da instalação"
                                    [disabled]="!emInstalacao" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerData"></mat-datepicker-toggle>
                                <mat-datepicker #pickerData></mat-datepicker>
                            </mat-form-field>


                            <button mat-raised-button color="primary" type="submit"
                                [disabled]="!emInstalacao || !fi.valid">
                                {{etapaInstalacao.tarefas[0].status == 'CONCLUIDA'?"Instalação confirmada":"Confirmar instalação"}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ng-template #seminstalacao>
            <div class="row">
                <p>
                    <i>O projeto não possui cronograma de instalação definido.</i>
                </p>
            </div>
        </ng-template>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Cronograma de Ativação</strong>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="step !== 5">Cronograma previsto para ativação</span>&nbsp;
                <mat-icon>cast_for_education</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="etapaAtivacao; else semativacao">
            <div class="col-lg-6">
                <p><strong>Empresa responsável: </strong>{{etapaAtivacao.tarefas[0].unidade_responsavel.nome}}</p>
            </div>
            <div class="col-lg-6">
                <p><strong>Previsão de início:
                    </strong>{{etapaAtivacao.tarefas[0].data_inicio_prevista | date:'dd/MM/yyyy'}}</p>
                <p><strong>Previsão de conclusão:
                    </strong>{{etapaAtivacao.tarefas[0].data_fim_prevista | date:'dd/MM/yyyy'}}</p>
            </div>
            <!-- somente TvEscola ativa projeto -->
            <ng-template [ngIf]="exibeTvEscola">
                <div class="col-lg-12">
                    <form (ngSubmit)="onSubmitAtivacao(fi, tarefa)" #fi="ngForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="etapaAtivacao.tarefas[0].data_fim" [min]="etapaAtivacao.tarefas[0].data_inicio" id="data_fim"
                                        name="data_fim" [matDatepicker]="pickerData" placeholder="Data da ativação"
                                        [disabled]="!emAtivacao" required>
                                    <mat-datepicker-toggle matSuffix [for]="pickerData"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerData></mat-datepicker>
                                </mat-form-field>


                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!emAtivacao || !fi.valid">
                                        {{etapaAtivacao.tarefas[0].status == 'CONCLUIDA'?"Ativação confirmada":"Confirmar ativação"}}
                                    </button>

                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
            <!-- fim somente TvEscola ativa projeto -->
        </div>

        <ng-template #semativacao>
            <div class="row">
                <p>
                    <i>O projeto não possui cronograma de ativação definido.</i>
                </p>
            </div>
        </ng-template>
    </mat-expansion-panel>

</mat-accordion>