<mat-card>
    <mat-card-title>
        <mat-icon (click)="loadTempData()">bar_chart</mat-icon>
        <span>&nbsp;</span>
        <span>Projetos por etapas</span>
    </mat-card-title>
    <p>
        <sub>Total de projetos em cada etapa</sub>
    </p>
    <canvas baseChart height="100vh" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)" [colors]="colors"></canvas>
</mat-card>