<div class="row">
    <div class="col-lg-12">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <mat-card class="gray mb-2 has-click" (click)="showProjetos()">
            <mat-card-title>
                <mat-icon>cast_connected</mat-icon>
                <span>&nbsp;</span>
                <span>{{projetosTotal}}</span>
            </mat-card-title>
            <p>
                <sub>Total de projetos</sub>
            </p>
        </mat-card>
    </div>
    <div class="col-lg-3">
        <mat-card class="concluidos mb-2 has-click" (click)="showProjetosConcluidos()">
            <mat-card-title>
                <mat-icon>cast</mat-icon>
                <span>&nbsp;</span>
                <span>{{projetosConcluidos}}</span>
            </mat-card-title>
            <p>
                <sub>Projetos concluídos</sub>
            </p>
        </mat-card>
    </div>
    <div class="col-lg-3">
        <mat-card class="andamento mb-2 has-click" (click)="showProjetosEmAndamento()">
            <mat-card-title>
                <mat-icon>cast</mat-icon>
                <span>&nbsp;</span>
                <span>{{projetosAndamento}}</span>
            </mat-card-title>
            <p>
                <sub>Projetos em andamento</sub>
            </p>
        </mat-card>
    </div>
    <div class="col-lg-3">
        <mat-card class="atrasados mb-2 has-click" (click)="showProjetosAtrasados()">
            <mat-card-title>
                <mat-icon>cast_connected</mat-icon>
                <span>&nbsp;</span>
                <span>{{projetosAtrasados}}</span>
            </mat-card-title>
            <p>
                <sub>Projetos atrasados</sub>
            </p>
        </mat-card>
    </div>
</div>

<hr class="m-2">

<!-- linha do tempo -->
<div class="row">
    <div class="col-lg-12">
        <app-timeline-chart></app-timeline-chart>
    </div>
</div>
<!-- fim linha do tempo -->

<hr class="m-2">

<!-- gestor e etapas -->
<div class="row h-100">
    <div class="col-lg-4">
        <mat-card class="gray has-click">
            <mat-card-title>
                <mat-icon>person</mat-icon>
                <span>&nbsp;</span>
                <span>Gestores</span>
            </mat-card-title>
            <p>
                <sub>Gestores não confirmados</sub>
            </p>

            <div class="col-lg-12">
                <div class="wrap-circle-progress">
                    <circle-progress [percent]="gestoresEmAtrasoPct" [radius]="100" title="{{gestoresEmAtrasoPct}}%"
                        [outerStrokeColor]="'#80DEEA'" [outerStrokeGradientStopColor]="'#80DEEA'"
                        [innerStrokeColor]="'#263238'" [titleColor]="'#263238'" [animation]="true"
                        [animationDuration]="300" (click)="showGestoresNaoConfirmados()">
                    </circle-progress>
                    <p>Total: {{gestoresExtrato.nao_confirmados}}</p>
                </div>
            </div>

        </mat-card>
    </div>
    <div class="col-lg-8">
        <app-etapas-atrasadas></app-etapas-atrasadas>
    </div>
</div>
<!-- fim gestor e etapas -->

<hr class="m-2">

<!-- projetos por status -->
<div class="row">
    <div class="col-lg-12">
        <app-status-chart></app-status-chart>
    </div>
</div>
<!-- fim projetos por status -->

<hr class="m-2">

<!-- estados -->
<div class="row">
    <div class="col-lg-12">
        <app-estados-status></app-estados-status>
    </div>
</div>
<!-- fim estados -->
<hr class="m-2">
<!-- empresas -->
<div class="row">
    <div class="col-lg-12">
        <app-envio-empresas></app-envio-empresas>
    </div>
</div>
<!-- fim empresas -->