


<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Projeto de implantação</strong>
            </mat-panel-title>
            <mat-panel-description>
                Dados do projeto
                <mat-icon>description</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="projetoForm">
        <form [formGroup]="projetoForm" (ngSubmit)="onAddProjeto()">
            <div class="row">
                <div class="col-lg-6 mt-1">
                    <mat-form-field>
                        <mat-select formControlName="unidade_id" id="unidade_id" placeholder="Escolha o polo de instalação"
                            [required]="true">
                            <mat-option *ngFor="let unidade of unidades" [value]="unidade.id">
                                {{ unidade.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 mt-1">
                    <mat-form-field>
                        <input matInput formControlName="numero" id="numero" placeholder="Número do projeto"
                            [required]="true" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-1">
                    <mat-form-field>
                        <textarea matInput formControlName="descricao" id="descricao" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5 placeholder="Descrição" [required]="true">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mt-1">
                    <mat-form-field>
                        <input matInput formControlName="data_inicio_previsto" id="data_inicio_previsto"
                            [matDatepicker]="pickerInicio" placeholder="Data de início">
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                        <mat-hint>(Previsão)</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 mt-1">
                    <mat-form-field>
                        <input matInput formControlName="data_fim_previsto" id="data_fim_previsto" [matDatepicker]="pickerFim"
                            placeholder="Data de conclusão">
                        <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFim></mat-datepicker>
                        <mat-hint>(Previsão)</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-10 mt-1 pull-right">
                    <button mat-raised-button class="mr-1" color="primary" [disabled]="!projetoForm.valid">
                        {{ editMode ? "Atualizar" : "Salvar" }}
                    </button>
                    <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="editMode" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Equipamentos</strong>
            </mat-panel-title>
            <mat-panel-description>
                Seleção dos equipamento para envio
                <mat-icon>devices</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
            <div class="col-lg-12 mt-2">
                <p><strong>
                    Equipamentos selecionados para este projeto:
                    {{projeto.equipamentos_projeto ? projeto.equipamentos_projeto.length : '0'}}
                </strong></p>
                <mat-chip-list>
                    <mat-chip color="primary" *ngFor='let equipamento of projeto.equipamentos_projeto'>
                        {{equipamento.equipamento.nome}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="row" *ngIf="projeto.equipamentos_projeto">
            <div class="col-lg-6 mt-3">
                <button mat-raised-button class="mr-1" color="primary" (click)="onAddKits()">
                    {{ projeto.equipamentos_projeto.length ? "Alterar" : "Adicionar" }}
                </button>
                <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                    Voltar
                </button>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="projeto.equipamentos_projeto && projeto.equipamentos_projeto.length" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Envio de equipamentos</strong>
            </mat-panel-title>
            <mat-panel-description>
                Criação de tarefas de envio
                <span *ngIf="etapaEnvio">
                <!--Status da etapa: {{etapaEnvio.status}}-->
                </span>
                <mat-icon>send</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-12 mt-2">
                <p><strong>
                        Equipamentos aguardando envio:
                        {{equipDisponiveis ? equipDisponiveis.length : '0'}}
                    </strong></p>
                <mat-chip-list>
                    <mat-chip color="primary" *ngFor='let equipamento of equipDisponiveis'>
                        {{equipamento.equipamento.nome}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-3">
                <button mat-raised-button class="mr-1" color="primary" (click)="onAddEnvio()">
                    Adicionar uma tarefa
                </button>
                <button mat-raised-button class="mr-1" color="primary" (click)="onListEnvios()">
                    Listar tarefas adicionadas
                </button>
                <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                    Voltar
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <!-- fim etapa envio -->
    <!-- etapa instalação -->
    <mat-expansion-panel *ngIf="equipDisponiveis && !equipDisponiveis.length" [expanded]="step === 3"
        (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Cronograma de instalação</strong>
            </mat-panel-title>
            <mat-panel-description>
                Dados da instalação
                <mat-icon>build</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="etapaInstalacao && etapaInstalacao.tarefas.length">
            <div class="col-lg-12 mt-2">
                <p><strong>Empresa responsável: </strong> {{etapaInstalacao.tarefas[0].unidade_responsavel.nome}}</p>
                <p><strong>Nº de indentificação: </strong> {{etapaInstalacao.tarefas[0].numero}}</p>
                <p><strong>Data prevista para início: </strong> {{etapaInstalacao.tarefas[0].data_inicio_prevista | date : 'dd/MM/yyyy'}}</p>
                <p><strong>Data prevista para fim: </strong> {{etapaInstalacao.tarefas[0].data_fim_prevista | date : 'dd/MM/yyyy'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-3">
                <button mat-raised-button class="mr-1" color="primary" (click)="onAddInstalacao()">
                    {{!etapaInstalacao?"Adicionar":"Editar"}}
                </button>
                <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                    Voltar
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <!-- fim etapa instalação-->
    <!-- etapa ativação -->
    <mat-expansion-panel *ngIf="equipDisponiveis && !equipDisponiveis.length" [expanded]="step === 4" (opened)="setStep(4)"
        hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Cronograma de ativação</strong>
            </mat-panel-title>
            <mat-panel-description>
                Dados da ativação
                <mat-icon>cast_for_education</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="etapaAtivacao && etapaAtivacao.tarefas.length">
            <div class="col-lg-12 mt-2">
                <p><strong>Empresa responsável: </strong> {{etapaAtivacao.tarefas[0].unidade_responsavel.nome}}</p>
                <p><strong>Nº de indentificação: </strong> {{etapaAtivacao.tarefas[0].numero}}</p>
                <p><strong>Data prevista para início: </strong> {{etapaAtivacao.tarefas[0].data_inicio_prevista | date : 'dd/MM/yyyy'}}</p>
                <p><strong>Data prevista para fim: </strong> {{etapaAtivacao.tarefas[0].data_fim_prevista | date : 'dd/MM/yyyy'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-3">
                <button mat-raised-button class="mr-1" color="primary" (click)="onAddAtivacao()">
                    {{!etapaAtivacao?"Adicionar":"Editar"}}
                </button>
                <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                    Voltar
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <!-- fim etapa ativação-->

</mat-accordion>