@import "~@angular/material/theming";

@include mat-core();

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 230px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    background: map_get($mat-blue-grey, 800);
    border: none;
    .mat-toolbar {
        background: map_get($mat-blue-grey, 800);
    }
}

.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}
.sidenav-icon {
    text-decoration: none;
    padding: 0 10px;
}

.nav-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    background: map_get($mat-blue-grey, 50);
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-list-base {
    .mat-list-item {
        color: #ffffff;
    }

    .mat-list-option {
        color: #ffffff;
    }

    .mat-subheader {
        color: #ffffff;
    }
}

.mat-list-item-disabled {
    background-color: map_get($mat-blue-grey, 500);
}

.mat-list-option,
.mat-nav-list .mat-list-item {
    &:hover,
    &:focus {
        background-color: map_get($mat-blue-grey, 700);
    }
}




.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 144px;
}