@import "./assets/styles/variables";
@import "~@angular/material/theming";

@include mat-core();


$cnme-app-primary: mat-palette($mat-cyan);
$cnme-app-accent: mat-palette($mat-blue-gray);
$cnme-app-warn: mat-palette($mat-red, A200, A100, A400);

$cnme-app-theme: mat-light-theme(
    $cnme-app-primary,
    $cnme-app-accent,
    $cnme-app-warn
);

$cnme-app-theme: map-merge($cnme-app-theme, (custom-colors: $mat-cnme));

@include angular-material-theme($cnme-app-theme);



