
$mat-cnme: (
    50 : #e0f5f3,
    100 : #b3e5e2,
    200 : #80d4ce,
    300 : #4dc3ba,
    400 : #26b6ac,
    500 : #00a99d,
    600 : #00a295,
    700 : #00988b,
    800 : #008f81,
    900 : #007e6f,
    A100 : #acfff3,
    A200 : #79ffec,
    A400 : #46ffe5,
    A700 : #2cffe1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
