<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>{{ editmode ? "Usuário" : "Novo Usuário" }}</mat-card-title>

            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput ngModel id="nome" name="nome" placeholder="Nome" required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput ngModel id="email" name="email" placeholder="Email" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput [(ngModel)]="newPassword" [type]="hidePassword ? 'password' : 'text'" id="password" name="password" placeholder="Senha"  required>
                            <mat-icon matSuffix (click)="generatePassword()">
                                {{hidePassword ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mt-1">
                        <button mat-raised-button color="primary" class="m-1" type="submit" [disabled]="!f.valid">
                            Salvar
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>