<!-- <div class="row">
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>{{ editmode ? "Editar Perfil do Usuário" : "Novo Usuário" }}</mat-card-title>

            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput ngModel id="nome" name="nome" placeholder="Nome" required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput ngModel id="email" name="email" placeholder="Email" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-1">
                        <mat-form-field>
                            <input matInput [(ngModel)]="newPassword" [type]="hidePassword ? 'password' : 'text'" id="password" name="password" placeholder="Senha"  required>
                            <mat-icon matSuffix (click)="generatePassword()">
                                {{hidePassword ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mt-1">
                        <button mat-raised-button color="primary" class="m-1" type="submit" [disabled]="!f.valid">
                            Salvar
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div> -->


<div class="row" *ngIf="editForm" >
    <div class="col-lg-12">
        <mat-card>
            <mat-card-title>Editar perfil do usuário</mat-card-title>
  
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput formControlName="name" id="name" placeholder="Nome do usuário" [required]="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput formControlName="email" id="email" placeholder="Email" [required]="true" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="isOwner">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password" placeholder="Senha">
                            <mat-icon matSuffix (click)="generatePassword()">
                                {{hidePassword ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput formControlName="cpf" id="cpf" placeholder="CPF" [required]="true" />
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                        <mat-select placeholder="Tipo de usuário" formControlName="tipo" id="tipo" [required]="true" >
                          <mat-option *ngFor="let tipo of tiposUsuarios" [value]="tipo" class="capitalize">
                            {{tipo |titlecase}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput formControlName="funcao" id="funcao" placeholder="Função" [required]="true" />
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field>
                          <input matInput formControlName="telefone" id="telefone" placeholder="Telefone" />
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mt-1">
                        <button mat-raised-button color="primary" class="m-1" type="submit" [disabled]="!editForm.valid">
                            Salvar
                        </button>
                        <button mat-raised-button type="button" class="m-1" color="warn" (click)="onCancel()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
  </div>